.formula-editor{
    position:relative;
    overflow: hidden;
    width:100%;
}
.formula-editor-pre, .formula-editor-textarea{
    top: 0;
    width: 100%;
    border: solid 1px transparent;
    padding: 6px;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 12px;
    line-height: initial;
}
.formula-editor-pre span, .formula-editor-textarea{
    font-family: monospace;
    font-size: 12px;
    line-height: initial;
}
.formula-editor-textarea{
    position: absolute;
    height: 100%;
    border-color: #000;
    resize: none;
    color: transparent;
    background: transparent;
    caret-color: #000;
}
.formula-editor-pre{
    
}

.STRING, .UNCOMPLETE_STRING{color: #FFC107}

.FUNCTION{color:blue}
.FUNCTION.UNVALIDATE{color: #c0c0c0}

.LEFT_CURLY, .RIGHT_CURLY{color: #009688}

.IDENTIFIER{color:#009688}
.IDENTIFIER.UNVALIDATE{color:#c0c0c0}

.context_var.validate{
    font-weight: bold;
    color: #000;
}
.operator{
    color: #9C27B0;
}
.number.unvalidate {
    color: red;
    /* background-image: url(wiggle.png);
    background-repeat: repeat-x;
    background-position: bottom; */
}

.caret {
    position:absolute;
    height:19px;
    width:1px;
    background: black;
    /*animation: 1s blink step-end infinite;
    -webkit-animation: 1s blink step-end infinite;*/
}
/* @keyframes "blink" {
  from, to { background: transparent; }
  50% {background: black; }
}
@-webkit-keyframes "blink" {
  from, to { background: transparent; }
  50% {background: black; }
} */